! rxvt colorscheme: github.com/junegunn/seoul256.vim/blob/master/urxvt/seoul256

! black
URxvt*.color0: #4e4e4e
URxvt*.color8: #626262
! red
URxvt*.color1: #d68787
URxvt*.color9: #d75f87
! green
URxvt*.color2: #5f865f
URxvt*.color10: #87af87
! yellow
URxvt*.color3: #d8af5f
URxvt*.color11: #ffd787
! blue
URxvt*.color4: #85add4
URxvt*.color12: #add4fb
! magenta
URxvt*.color5: #d7afaf
URxvt*.color13: #ffafaf
! cyan
URxvt*.color6: #87afaf
URxvt*.color14: #87d7d7
! white
URxvt*.color7: #d0d0d0
URxvt*.color15: #e4e4e4

URxvt*font: xft:JetBrainsMono:style=Regular:size=13:antialias=true

URxvt*.foreground: #d0d0d0
URxvt*.background: #3a3a3a
URxvt*.cursorColor: #d0d0d0
URxvt*.cursorColor2: #3a3a3a
URxvt*.colorBD: #e4e4e4

URxvt*borderLess: false
URxvt*externalBorder: 0
URxvt*internalBorder: 0
URxvt*scrollBar: false
URxvt*saveLines: 5000

URxvt*perl-ext-common: default,tabbedex,font-size
                                           
URxvt.keysym.Control-Shift-N: perl:tabbedex:new_tab
URxvt.keysym.Control-Shift-K: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-J: perl:tabbedex:prev_tab
URxvt.keysym.Control-Shift-R: perl:tabbedex:rename_tab
URxvt.keysym.Control-Shift-H: perl:tabbedex:move_tab_left   
URxvt.keysym.Control-Shift-L: perl:tabbedex:move_tab_right    

URxvt.keysym.C-minus:     font-size:decglobal
URxvt.keysym.C-plus:      font-size:incglobal
URxvt.keysym.C-equal:     font-size:reset
URxvt.keysym.C-question:  font-size:show

URxvt.keysym.Control-Shift-C: eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V: eval:paste_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt*tabbedex.tabbar-fg: 2 
URxvt*tabbedex.tabbar-bg: 0
URxvt*tabbedex.tab-fg: 3
URxvt*tabbedex.tab-bg: 0
URxvt*tabbedex.transparent: true
URxvt*tabbedex.new-button: false
